.login-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;
}

.login-form button {
    height: 45px;
}